spring:
  application:
    name: order-service
  data:
    mongodb:
      uri: mongodb://admin:admin123@localhost:27017/order_db?authSource=admin
  kafka:
    bootstrap-servers: localhost:9094
    template:
      default-topic: order-topic
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            add:
              type:
                headers: false

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: prometheus
