spring:
  application:
    name: inventory-service
  data:
    mongodb:
      uri: mongodb://admin:admin123@localhost:27017/inventory_db?authSource=admin
  kafka:
    bootstrap-servers: localhost:9094
    consumer:
      group-id: inventory-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: prometheus
