spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://admin:admin123@localhost:27017/product_db?authSource=admin

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: prometheus
